
/*
 * Definitions Used in the Fridge Information Popup
 */
$borderWid: 2px;
$borderRad: 10px;
$borderCol: lightgrey;
$borderSty: solid;

$headerTextSize: 15px;
$subTextSize: 12px;

$buttonTextSize: 12px;
$buttonHeight: 30px;
$buttonWidth: 48%;

$mainFont: Arial-Light;
$backUpFont: Sans-Serif;
$thirdBackupFont: Georgia;

$headerWeight: light;
$subTextWeight: normal;
$buttonWeight: normal;

$infoBackgroundColor: white;

.fridgeInfo {

  height: 500px;
  max-height: 50vh;
  width: 300px;
  max-width: 85vh;
  background-color: $infoBackgroundColor;
  margin:15px;
  padding: 40px;
  overflow-y: scroll;

  border: {
    color: $borderCol;
    style: $borderSty;
    width: $borderWid;
    radius: $borderRad;
  }

  h1 {

    padding: {
      top: 10px;
    }
    text-align: center;

    font: {
      size: $headerTextSize;
      family: $mainFont,
              $backUpFont,
              $thirdBackupFont;
      weight: $headerWeight;
    }
  }
  h2 {
    text-align: center;
    padding-bottom: 10px;
    font: {
      size: $subTextSize;
      family: $mainFont,
      $backUpFont,
      $thirdBackupFont;
      weight: $subTextWeight;
    }
  }
}

.popUpControls {
  width: fit-content;
  height: fit-content;
  fontSize: $buttonTextSize;
}
