// Alert width should not take up more than 50% of the display.
$DEFAULT_COMPONENT_WIDTH: 50%;

/*
 * Definitions Used in the Fridge Information Popup
 */
$borderWid: 2px;
$borderRad: 10px;
$borderCol: lightgrey;
$borderSty: solid;

$headerTextSize: 12px;
$subTextSize: 12px;

$buttonTextSize: 12px;
$buttonHeight: 30px;
$buttonWidth: 48%;

$mainFont: Arial-Light;
$backUpFont: Sans-Serif;
$thirdBackupFont: Georgia;

$headerWeight: bold;
$subTextWeight: normal;
$buttonWeight: normal;

$infoBackgroundColor: white;

.alertPopup {
  width: $DEFAULT_COMPONENT_WIDTH;
}

.imgInformationPopup {
  height: 60px;
  width: 40px;
  top: 45vh;
  left: 150px;
  z-index: 10 !important;
  position: fixed;
}

.infoPopupCont {
  z-index: 9;
  overflow: scroll;
  padding: 20px;
  position: fixed;
  top: 48vh;
  left: 20px;
  height: 50vh;
  width: 300px;
  max-width: 85vw;
  background-color: white;
  border: {
    color: $borderCol;
    style: $borderSty;
    width: $borderWid;
    radius: $borderRad;
  }
  h1 {
    padding: {
      top: 15px;
    }
    text-align: center;
    font: {
      size: $headerTextSize;
      family: $mainFont,
      $backUpFont,
      $thirdBackupFont;
      weight: $headerWeight;
    }
  }
  h2 {
    text-align: center;
    padding-bottom: 10px;
    font: {
      size: $subTextSize;
      family: $mainFont,
      $backUpFont,
      $thirdBackupFont;
      weight: $subTextWeight;
    }
  }
  sub {
    text-align: center;
    padding-top: 5vh;
    font: {
      size: $subTextSize;
      family: $mainFont,
      $backUpFont,
      $thirdBackupFont;
      weight: $subTextWeight;
    }
  }
}

.popUpControls {
  overflow: scroll;
  width: fit-content;
  height: fit-content;
  fontSize: $buttonTextSize;
  padding-top: 0.5vh;
}