// Alert width should not take up more than 50% of the display.
$DEFAULT_COMPONENT_WIDTH: 50%;

/*
 * Definitions Used in the Fridge Information Popup
 */
$borderWid: 2px;
$borderRad: 10px;
$borderCol: lightgrey;
$borderSty: solid;

$headerTextSize: 14px;
$subTextSize: 12px;
$subHeaderTextSize: 12px;

$buttonTextSize: 12px;
$buttonHeight: 30px;
$buttonWidth: 48%;

$mainFont: Arial-Light;
$backUpFont: Sans-Serif;
$thirdBackupFont: Georgia;

$headerWeight: bold;
$subTextWeight: normal;
$buttonWeight: normal;

$infoBackgroundColor: white;

.alertPopup {
  width: $DEFAULT_COMPONENT_WIDTH;
}

.imgInformationPopup {
  height: 60px;
  width: 40px;
  top: 44vh;
  left: 150px;
  z-index: 10 !important;
  position: fixed;
}

.infoPopupCont {
  z-index: 9;
  // overflow: scroll;
  padding: 20px;
  position: fixed;
  top: 48vh;
  left: 20px;
  height: 50vh;
  width: 300px;
  max-width: 85vw;
  text-align: center;
  background-color: white;
  border: {
    color: $borderCol;
    style: $borderSty;
    width: $borderWid;
    radius: $borderRad;
  }
  font: {
    family: $mainFont,
    $backUpFont,
    $thirdBackupFont;
  }
  h1 {
    padding-top: 15px;
    font: {
      size: $headerTextSize;
      weight: $headerWeight;
    }
  }
  h2 {
    padding-bottom: 10px;
    font: {
      size: $subTextSize;
      weight: $subTextWeight;
    }
  }
  h3 {
    text-align: left;
    justify-items: left;
    font: {
      size: $subHeaderTextSize;
      weight: $headerWeight;
    }
  }
  h4 {
    text-align: left;
    font: {
      size: $subTextSize;
      weight: $subTextWeight;
    }
    display: inline;
  }
}

.fridgePost {
  text-align: left;
  font: {
    family: $mainFont,
    $backUpFont,
    $thirdBackupFont;
    size: $subTextSize;
    weight: $subTextWeight;
  }
}

$overlayZIndex: 9;

.mapContainer {
  position: absolute;
  width: 100vw;
  height: 100%;
}

.mapContainerToastOverlay {
  position: fixed;
  z-index: $overlayZIndex;
  top: 100px;
  left: 25px;
}

.popupContainerRow {
  position: fixed;
  z-index: $overlayZIndex;
  top: 10px;
  left: 50px
}

.mapInformation {
  top: 0;
  left: 0;
  width: inherit;
  z-index: 0;
  position: relative;
}